{% extends '../admin_base.html' %}
{% load static %}
{% load utils %}
{% load crispy_forms_tags %}

{% block title %}
<title> Add Banner - Admin </title>
{% endblock %}



{% block content %}

<h1 class="mt-4">Banner</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/banners">Banner</a></li>
    <li class="breadcrumb-item active">Add Banner</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
      <h2 class="my-2">Add Banner</h2>
  </div>
  <div class="card-body">
        <!--Django Model Form-->
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
              {{form|crispy}}
              <button class="btn btn-primary my-4" type="submit">Submit</button>
              <a class="btn btn-secondary my-4" href="/admin/banners" >Go Back</a>
        </form>


  </div>
</div>


{% endblock %}

{% comment %} 
{% block footer %}

{% endblock %} {% endcomment %}