{% extends 'base.html' %}
{% load static %}
{% load utils %}

<!-- Header -->
{% block title %}
<title> Checkout </title>
{% endblock %}

{% block content %}
<div class="container text-success text-center" id="movie-content">
    <h1>Tickets Booked Successfully</h1>
<h2> Your show info is 
    {% if show %} 
            {{ show.showtime }} |
            {{ show.movie }} 

    {% endif %} </h2>
<h2> Your show is on {% if sdate %} {{ sdate }} {% endif %} </h2>
<h2> Your ticket are {% if seats %} {{ seats }} {% endif %} </h2>
<a class="btn btn-primary" href="/mybookings" >Go to Bookings<a>
</div>
{% endblock %}
