

{% extends 'base.html' %}

{% load static %}
{% load utils %}

<!-- Header -->
{% block title %}
        <title>{{ film.movie_name }} Preview</title>
        
        <style>
          .results{
            font-family: 'Lato', sans-serif;
          }
          .norounds{
            border-radius:0px;
          }
          .imagestyle{
            box-shadow: 0 4px 8px 0 rgba(185,65,223, 88%), 0 6px 20px 0 rgba(4,47,243,99%);
          }
        </style>
        
{% endblock title %}


{% block content %}
    <div class="container" id="movie-content">        
        
        <div class="row">
            
            <div id="movie-poster" class="col-md-4 d-flex justify-content-center ">
                <div class="card text-center border-0 bgdark" style="width: 18rem;">
                    <img class="card-img-top imagestyle " src="{{ film.url }}" alt="Card image cap">
                    <div class="card-body">
                    <a href="/show?date={{ "%Y-%m-%d"|cdateadd:"1" }}" class="btn btn-warning">Get Tickets</a>
                    </div>
                </div>
                    
            </div>
            
            <div id="movie-info" class="col-md-8 " data-movie-id="46306">

                <div class="hidden-xs">
                    <h1>{{ film.movie_name }}</h1>
                    <h2>{{ film.movie_year }}</h2>
                    <h3>{{ film.movie_lang }} | {{ film.movie_genre }}</h3>
                </div>
                <p class="hidden-xs hidden-sm">
                    {% if showtimes%}
                    <em class="pull-left">Available at times&nbsp;</em>
                    <br>
                    {% for show in showtimes %}
                    <a href="/show?date={{ "%Y-%m-%d"|cdateadd:"1" }}"  style="padding-left:20px;padding-right:20px;margin-right:10px;" class="btn btn-primary" rel="nofollow"  >{{ show.showtime|tformat:"%I:%M %p" }}</a>
                    {% endfor %}
                    {% else %}
                    <em class="pull-left">No shows Available, Check later&nbsp;</em>
                    {% endif %}
                </p>
                <p>{{ film.movie_plot }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
        


