{% extends 'base.html' %}
{% load utils %}

<!-- Header -->
{% block title %}
        <title>Seat Selection</title>
        <style>
        
          
          .seat {
            background-color: #777;
            width: 15px;
            height: 12px;
            margin: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          
    </style>
{% endblock title %}

<!-- Content -->
{% block content %}
<div class="container">
  <div class="row">
    <p>Book tickets for <b>{{ film.movie_name }}</b> on <b>{{ date }}</b> at <b>{{ st }}</b></p>
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class = "seat">A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      </tr>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      </tr>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      <tr>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
      </tr>
    </tbody>
</table>

</div>
{% endblock content %}

<!-- JS -->
{% block js%}
<script>
    $( document ).ready(function() {
        $("#selectdate").change(function() {
            console.log($(this).val());
            console.log("date changed");
            $("#dateform").submit();
        });
    });
</script>
{% endblock js%}

        
        