{% extends 'admin_base.html' %}
{% load static %}
{% load utils %}

{% block title %}
<title> Dashboard admin </title>
{% endblock %}


{% comment %} 
{% block content %}

<h1> Admin Dashboard Coming Soon</h1>

  {% endblock %}
{% endcomment %}

{% block footer %}

<!-- Keep them where there are  charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'admin/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'admin/assets/demo/chart-bar-demo.js' %}"></script> 
{% endblock %}