{% extends 'admin_base.html' %}
{% load static %}
{% load utils %}

{% block title %}
<title> Dashboard admin </title>
{% endblock %}


 
{% block content %}



<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Dashboard</li>
  <li class="breadcrumb-item"><a href="/admin/movies">Movies</a></li>
  <li class="breadcrumb-item"><a href="/admin/shows">Shows</a></li>
  <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
</ol>

                        <!-- Cards -->
                        <div class="card-deck" style="padding-bottom:10px;">
                       

                          <div class="card text-center">
                            <div class="card-body">
                              <h5 class="card-title">{{ movies_count }} Movies</h5>
                              
                            </div>
                          </div>
                          <div class="card text-center">
                            <div class="card-body">
                              <h5 class="card-title">{{ users_count }} Users</h5>
                              
                            </div>
                          </div>
                          <div class="card text-center">
                            <div class="card-body">
                              <h5 class="card-title">{{ bookings_count }} Bookings</h5>
                              
                            </div>
                          </div>
                          
                      </div>

                <!-- Are and Bar Charts -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Tickets Booked
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Revenue
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                          <div class="card-header">
                              <i class="fas fa-table me-1"></i>
                              Recent Bookings
                          </div>
                          <div class="card-body">
                              <table id="datatablesSimple">
                                  <thead>
                                      <tr>
                                          <th>Show Date</th>
                                          <th>Movie</th>
                                          <th>Show Time </th>
                                          <th>Tickets</th>
                                          <th>User</th>
                                          <th>total</th>
                                          <th>Booked time</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                          <th>Show Date</th>
                                          <th>Movie</th>
                                          <th>Tickets</th>
                                          <th>User</th>
                                          <th>total</th>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                    {% for booking in tabledata %}
                                      <tr>
                                          <td>{{ booking.show_date|dformat:"%b %d %Y" }}</td>
                                          <td>{{ booking.show__movie__movie_name }}</td>
                                          <td>{{ booking.show__showtime }}</td>
                                          <td>{{ booking.num_seats }}</td>
                                          <td>{{ booking.user__username }}</td>
                                          <td>${{ booking.total }}</td>
                                          <td>{{ booking.booked_date|tdiff }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                        {% comment %} {% for date in booking %}
                          {{ date|tup:"0"|dformat:"%b %d" }}
                        {% endfor %} {% endcomment %}
  {% endblock %}


{% block footer %}

<!-- Keep them where there are  charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!-- <script src="{% static 'admin/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'admin/assets/demo/chart-bar-demo.js' %}"></script> 
-->


<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Chart 1 Data
xval= "{{ graph1|get:"dates" }}"

xval = xval.split(",")
yval= {{ graph1|get:"tickets" }}


// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    //labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
    labels: xval,
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      //data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
      data: yval,
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          //max: 10,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});


/////////////////////// BAR CHART ///////////////////////////


// Bar Chart Example
var ctx = document.getElementById("myBarChart");
// Chart 1 Data
xval= "{{ graph2|get:"dates" }}"

xval = xval.split(",")
yval= {{ graph2|get:"total" }}

var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    //labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
    labels: xval,
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(3, 206, 22,0.2)",
      borderColor: "rgba(3, 206, 22,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(3, 206, 22,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(3, 206, 22,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      //data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
      data: yval,
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          //max: 10,
          maxTicksLimit: 5,
          userCallback: function(item) {
            return "$"+item;
        }
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

</script>
{% endblock %}