{% extends 'admin_base.html' %}
{% load static %}
{% load utils %}

{% block title %}
    <title> Users - Admin </title>
{% endblock %}



{% block content %}

<h1 class="mt-4">Users</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      List of Shows 
  </div>
  <div class="card-body">
      <table id="datatablesSimple">
          <thead>
              <tr>
                  <th>username</th>
                  <th>email</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>username</th>
                  <th>email</th>
              </tr>
          </tfoot>
          <tbody>

            {% for user in users %}
                <tr>
                  <td >{{ user.username }}</td>
                  <td >{{ user.email }}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>


{% endblock %}
